extends layout 
block content
    header.card-header
        h4.card-title Register vehicle
    form(action='/vehicle' method='POST')
        div.form-row
            div.col.form-group
                label Time of arrival
                input.form-control(name='timeofarrival')
            div.col.form-group
                label Date of arrival
                input.form-control(type="date" name='dateofarrival')
        div.form-row
            div.col.form-group
                label Number plate
                input.form-control(name='numberplate')
            div.col.form-group
                label color
                input.form-control(name='color')
        div.form-row
            div.col.form-group
                label(for='dateofbirth') Make
                input.form-control(name='make')
        div.form-group
            label(for='name') Washer
            input.form-control(type='name' name='washer')
        div.form-row
            div.col.form-group
                label Wash package
                select.form-control(name='washpackage')
                    option(value='smallcars') Small cars-10000/=
                    option(value='Medium') Medium cars-15000/=
                    option(value='fullwash') Full wash-20000/=
                    option(value='Bodaboda') BodaBoda-5000/=
                    option(value='Engine') Engine-10000/=
        div.class-md-6
            button.btn.btn-secondary.btn-block Register