doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel='stylesheet', href='/main.css')
        title= title
    body
        nav.navbar.navbar-expand-sm.navbar-dark.bg-secondary
            a.navbar-brand(href='/') Zawash
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarMenu' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarMenu
                div.navbar-nav
                    li.nav-item
                        a.nav-link.active(href='/') Home
                    li.nav-item
                        a.nav-link.active(href='/register') Washer tracking
                    li.nav-item
                        a.nav-link.active(href='/vehicle') Car tracking
                    li.nav-item
                        a.nav-link.active(href='/expenses') Expenses
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link.active(href='/manager') Register
                li.nav-item
                    a.nav-link.active(href='/login') Login
        div.row.justify-content-center
            div.col-md-6
                div.card-body   
                    block content
        
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
        //- script(src="/validationWasher.js") 
    footer.row.justify-content-center
        div.col-md-6
            block footer
            div.float-left
                //- a(href='/') Registrations 
                span | 
                a(href='/report/payout') Reports
                span | 
                 a(href='/logout') Logout
            div.float-right © Priscilla.k.2022.                                                                 