doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel='stylesheet', href='/main.css')
        title= title
    body
        nav.navbar.navbar-expand-sm.navbar-dark.bg-secondary
            a.navbar-brand(href='#') Zawash
            div.navbar-nav
                li.nav-item
                    a.nav-link.active(href='/') Home
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    block content
    footer.row.justify-content-center
        div.col-md-6
            block footer
            div.float-left
                
                a(href='/report/payout') Reports
                span | 
                 a(href='/logout') Logout
            div.float-right © Priscilla 2022 .
