extends layout 
block content
                    header.card-header
                        h4.card-title Registration car washer
                        if alert == "success"
                            div.alert.alert-info Washer added successfully
                        if alert == 'error'
                            div.alert.alert-danger An error occured,failed to add washer 
                    section.container  
                        form.regForm#my-form(name='washer' action='/register' method='POST' onsubmit='return valwasher();')
                            div.form-row
                                div.col.form-group
                                    label First name
                                    input.form-control(name='firstname' id='firstname')
                                    span#firstnameError(role='alert' aria-hidden='true') 
                                div.col.form-group
                                    label Last name
                                    input.form-control(name='lastname' id='lastname')
                                    small#lastnameerror
                            div.form-row
                                div.col.form-group
                                    label Username
                                    input.form-control(name='username' id='username')
                                    small#usernameError
                                div.col.form-group
                                    label Password
                                    input.form-control(name='password' id='password')
                                    small#passwordError
                            div.form-row
                                div.col.form-group
                                    label(for='dateofbirth') Date of birth
                                    input.dateofbirth.form-control(type='date' name='dateofbirth' id=dateofbirth)
                                    small#dateofbirthError
                                div.col.form-group
                                    label Employee Id
                                    input.form-control(name='employeeid' id='employeeid')
                                    small#employeeidError   
                            div.form-row
                                div.col.form-group
                                    label Place of residence
                                    input.form-control(name='placeofresidence' id='placeofresidence' )
                                    small#placeofresidenceError
                                div.col.form-group
                                    label NIN
                                    input.form-control(name='nin' id='nin')
                                    small#ninError
                            div.form-row
                                div.col.form-group
                                    label Gender
                                    select.form-control(name='gender' id='gender')
                                        option(value='female') Female
                                        option(value='male') Male
                                    small#genderError
                                div.col.form-group
                                    label Employee type
                                    select.form-control(name='employeetype' id='employeetype')
                                        option(value='fulltime') Full time
                                        option(value='parttime') Part time
                                    small#employeetypeError
                            div.form-row
                                div.col.form-group
                                    button.btn.btn-secondary.btn-block(type='submit') Register Car Washer 
                    script(src="/valwasher2.js")
                    



        

                                
                                  


                                