extends layout 
block content
            header.card-header
                h4.card-title Registration manager
            form(action='/manager' method='POST')
                div.form-row
                    div.col.form-group
                        label First name
                        input.form-control(name='firstname')
                    div.col.form-group
                        label Last name
                        input.form-control(name='lastname')
                div.form-row
                    div.col.form-group
                        label Username
                        input.form-control(name='username')
                    div.col.form-group
                        label Password
                        input.form-control(name='password')
                div.form-row
                    div.col.form-group
                        label(for='dateofbirth') Date of birth
                        input.dateofbirth.form-control(type='date' name='dateofbirth')
                div.form-group
                    label(for='phonenumber') Phonenumber
                    input.phonenumber.form-control(type name='phonenumber')
                div.form-group
                    label Gender
                        select.form-control(name='gender')
                            option(value='female') Female
                            option(value='male') Male
                            
                div.form-row
                    div.col.form-group
                        button.btn.btn-secondary.btn-block Register    